{
    "printWidth": 120,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "vueIndentScriptAndStyle": false,
    "endOfLine": "auto",
    "editor.formatOnSave": true,
    "singleQuote": false
}
  